<div id="popup">
  <div class="blackBackground hide"></div>
  <form action="javascript:void(0);" class="hide" name="new-item">
      <h2>Добавление темы</h2>
      <input type="text" name="titleItem"><br>
      <input type="submit" value="Создать" id="addItem">
  </form>
</div>
