<div id="popup">
  <div class="blackBackground hide"></div>
  <form action="javascript:void(0);" class="hide" name="new-section">
      <div class="close">&#10006;</div>
      <h2>Добавление раздела</h2>
      <label>Название
          <input type="text" name="titleItem"><br>
      </label>
      <label>Описание
          <textarea name="comment" rows="5" placeholder="Текст сообщения"></textarea>
      </label><br>
      <input type="submit" value="Создать" id="addSection">
  </form>
</div>
