<% if (config) {%>
  <div class="description">
      <h3><%= title %></h3>
      <p><%= description%></p>
  </div>
  <div class="button" id="deleteSection"></div>
<% } else {%>
  <div class="description2">
      <h3><%= title %></h3>
      <p><%= description%></p>
  </div>
<% } %>
