<div class="control">
  <input type="submit" id="back" value="Назад">
  <input type="submit" id="addNewComment" value="Добавить комментарий">
</div>
<h2><%= item.title %></h2>
<div class="comments-list">
  <% for( var i = 0; i < item.commentsList.length; i++) {%>
    <div class="comment">
      <div class="users-info">
         <span class="name"><%= item.commentsList[i].username %></span>
         <div class="date"><%= item.commentsList[i].date %></div>
      </div>
      <p class="text-comment"><%= item.commentsList[i].text %></p>
    </div>
  <% }; %>
</div>
<div class="blackBackground hide"></div>
<form action="javascript:void(0);" name="new-comment" class="hide">
    <h2>Добавление комментария</h2>
    <label>Имя
        <input type="text" name="username">
    </label><br>
    <label>Комментарий
        <textarea name="comment" rows="5" placeholder="Текст сообщения"></textarea>
    </label><br>
    <input type="submit" value="Создать" id="addComment">
</form>
