<div class="comment-avatar"></div>
<div class="comment-author"><%= username %></div>
<div class="comment-text">
    <%= text %>
    <div class="comment-date"><%= date %></div>
</div>
<% if (config) {%>
  <div class="button2" id="deleteComment"></div>
<% } %>
