<div id="popup">
    <div class="blackBackground hide"></div>
    <form action="javascript:void(0);" name="new-comment" class="hide">
        <h2>Добавление комментария</h2>
        <label>Имя
            <input type="text" name="username">
        </label><br>
        <label>Комментарий
            <textarea name="comment" rows="5" placeholder="Текст сообщения"></textarea>
        </label><br>
        <input type="submit" value="Создать" id="addComment">
    </form>
</div>
