#app {
  margin: 10px;
  box-shadow: 0 0 10px #ccc;
  padding-bottom: 20px;
  min-height: 720px;
  min-width: 1170px;
  font-family: 'PT Sans', sans-serif;
  background-color: rgba(171, 171, 171, 0.37);

}

.header {
  box-shadow: 0 0 10px #ccc;
  background: linear-gradient(to top, #b5bdc8 0%, #828c95 36%, #28343b 100%);
  color: white;

}
.header h1{
  display: block;
  float: left;
  padding-left: 30px;
}
.header .auth{
  float: right;
  padding: 10px;
  margin: 20px;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

#content h2 {
  text-align: center;
}

#content .control {
  position: absolute;
}

#content .control input[type="submit"] {
  margin-left: 20px;
  padding: 4px 8px;
}

.sections-list .section {
    margin: 10px 20px 0 20px;
    box-shadow: 0 0 10px #ccc;
}
.sections-list .section h3 {
    text-align: center;
    margin: 0px;
    padding: 5px;
    color: white;
    background: linear-gradient(to top, #b5bdc8 0%, #828c95 36%, #28343b 100%);
}
.sections-list .section ul {
  text-decoration: none;
  margin: 0;
  padding: 0;
}
.sections-list .section ul li {
  display: block;
  padding: 5px;
  border-bottom: 1px solid rgba(171, 171, 171, 0.37);
}
.sections-list .section ul li:hover {
  background-color: rgba(171, 171, 171, 0.37);
}
input[type="submit"] {
   margin-left: 5px;
   background: #b5bdc8;
   background: linear-gradient(to top, #b5bdc8 0%, #828c95 36%, #28343b 100%);
   padding: 2px 4px;
   color: #fff;
   border: 1px solid #333;
}

.comments-list .comment {
  position: relative;
  width: 80%;
  box-shadow: 0 0 10px #ccc;
  padding: 20px;
  border-radius: 5px;
  margin-left: 100px;
  min-height: 120px;
  margin-bottom: 20px;
}

.comments-list .comment:nth-of-type(2n){
  margin-left: 150px;
}

.comments-list .comment .users-info {
  position:absolute;
  background: linear-gradient(to top, #b5bdc8 0%, #828c95 36%, #28343b 100%);
  padding: 10px;
  width: 100px;
  height: 100px;
  border-radius: 5px;
  text-align: center;
}
.comments-list .comment .text-comment {
  margin-left: 140px;
  margin-top: -10px;
}

.blackBackground {
  position:absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
}

form[name="new-comment"], form[name="new-item"] {
    position: absolute;
    z-index: 999;
    top: 50%;
    left: 50%;
    margin-left: -250px;
    transform: translateY(-50%);
    padding: 20px;
    width: 500px;
    border-radius: 10px;
    box-shadow: 0 0 10px #ccc;
    color: white;
    background: linear-gradient(to top, #b5bdc8 0%, #828c95 36%, #28343b 100%);

}
form[name="new-comment"] textarea {
  width: 98%;
 padding: 5px;
 margin-bottom: 10px;
}
form[name="new-comment"] label, form[name="new-item"] label {
display: block;
 margin-bottom: 10px;
}

form[name="new-comment"] input[type="submit"], form[name="new-item"] input[type="submit"] {
  padding: 4px 8px;
  margin: 0 auto 0 45%;
}
.hide {
  display: none;
}
